# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 45da6176d1af6abdb52fb4ec6a9fa8413db06fbed00b5592dd30c200848c99fb3b952a7b95ba2d9d0eefba43ae36527dc7ed2a340d29dcc9cc7232513e142e71

test:
  secret_key_base: 5788be35cb9f7b04c42b5b1919e80f18164d8e4dcf830a0b10c20754afb3f0b69f06c48d5f423515e8525751a1611c55e206e6a58720ba67e233e84f6b56d912

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
